<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Order</title>
    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table th {
            font-size: 20px;
            line-height: 24px;
            vertical-align: middle;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: middle;
        }
    </style>
</head>

<body>
    {% load custom_tag %}
    <div class="invoice-box">
        <table border=1px style="height:100px;">
            <tr>
                Email and Address of CONSIGNEE
                {{user.full_name}}
                <br>
                Email: {{user.email_address}}
                <br>
                Address: {{user.full_address}}
                <br>
                Phone: {{user.phone_number}}

            </tr>
        </table>
        <table border=1px style="height:100px;">
            <tr>
                <th align="left" style="width:40%">Name</th>
                <th align="center" style="width: 15%">Value</th>
            </tr>
            <tr>
                <td align="left" style="width:40%">{{item.name}}</td>
                <td align="center" style="width:15%">{{item.value}}</td>
            </tr>
        </table>
    </div>
</body>

</html>