﻿/*common*/
html {
    -webkit-text-size-adjust: none;
}

.container {
    width: 1200px;
    margin: 0 auto
}

.caclulate-content {
    padding: 20px 0;
}

.navbar-collapse {
    background-color: #e9eef4;
    border: 1px solid #e4eaf1;
    height: 67px;
    margin-bottom: 16px;
    padding: 12px 0;
}

.navbar-collapse .navbar-nav {
    width: 1160px;
    margin: 0 auto;
}

.pcbway_link {
    display: block;
    float: left;
    margin: 0 5px;
    padding: 2px;
    cursor: pointer;
    border: solid 1px #AED16F;
    text-align: center;
    line-height: 58px;
    width: 176px;
    height: 60px; /*bevel*/
    border-radius: 3px;
    box-shadow: 3px 3px 10px 0px rgba(255, 255, 255, 0.75) inset, -1px -1px 3px 0px rgba(0, 0, 0, 0.1) inset; /*gradient*/
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(238, 238, 238, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%); /* W3C */
}

.pcbway_link input[type="radio"] {
    visibility: hidden;
    position: absolute;
    top: 3px;
    left: 3px;
}

.pcbway_link.active {
    border: solid 3px #00a63f;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2) inset;
    padding: 0px;
}

.pcbway_link DIV.label {
    margin: -1.0em 5px 0px 5px;
    position: relative;
    top: 50%;
}

.pcbway_link a:link, .pcbway_link a:visited, .pcbway_link a:hover, .pcbway_link a:active {
    text-decoration: none;
}

.pcbway_link .text {
    color: #555555;
    font-size: 15px;
}

.checkinch.pcbway_link {
    width: auto;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    margin-left: 10px;
    border-color: #ccc;
}

.ui2-step {
    font-size: 14px;
    overflow: hidden;
    width: 100%;
}

.bao-step {
    margin-bottom: 10px;
}

.ui2-step li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    float: left
}

.ui2-step li:first-child span {
    margin-left: 0
}

.ui2-step .last span {
    margin-right: 0
}

.ui2-step-6 li {
    width: 16.6666%
}

.ui2-step span {
    padding-left: 10px;
    display: block;
    height: 32px;
    line-height: 32px;
    margin-left: 16px;
    margin-right: 4px;
    position: relative
}

.ui2-step span:after {
    content: "";
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid transparent;
    position: absolute;
    right: -16px;
    top: 0;
    z-index: 1
}

.ui2-step span:before {
    content: "";
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    position: absolute;
    left: -16px;
    top: 0;
    z-index: 1
}

.ui2-step li:first-child span:before {
    display: none
}

.ui2-step .last span:after {
    display: none
}

.ui2-step .ui2-step-done span {
    background: #ffe0cc;
    color: #333
}

.ui2-step .ui2-step-done span:before {
    border: 16px solid #ffe0cc;
    border-left: 16px solid transparent
}

.ui2-step .ui2-step-done span:after {
    border-left: 16px solid #ffe0cc
}

.ui2-step-curr span {
    background: #ffe0cc;
    color: #777
}

.ui2-step .ui2-step-curr span:before {
    border: 16px solid #ffe0cc;
    border-left: 16px solid transparent
}

.ui2-step .ui2-step-curr span:after {
    border-left: 16px solid #ffe0cc
}

.ui2-step-undone span {
    background: #e9eef4;
    color: #999
}

.ui2-step .ui2-step-undone span:before {
    border: 16px solid #e9eef4;
    border-left: 16px solid transparent
}

.ui2-step .ui2-step-undone span:after {
    border-left: 16px solid #e9eef4
}

.maui-layout-box {
    padding-right: 350px;
}

.maui-row-main {
    width: 100%;
    float: left;
}

.maui-layout-box .maui-row-right {
    padding: 0;
    margin-top: 0;
    float: right;
    width: 330px;
    margin-right: -350px;
}

.mt20 {
    margin-top: 20px;
}

.maui-layout-box .maui-row-main-wrap {
    width: 100%;
    float: left;
}

.compose-topbar .compose-status {
    font-size: 13px;
    line-height: 14px;
    display: inline;
    float: left;
    color: #555;
}

.compose-actions {
    position: relative;
    display: inline-block;
}

.compose-topbar .compose-actions {
    width: 50%;
}

.compose-actions i.calculator-icon1 {
    position: absolute;
    left: 22px;
    top: 8px;
}

.compose-actions .compose-action {
    line-height: 20px;
    font-size: 14px;
    background-image: url(../images/newpcbway/icon-spr.png);
    background-position: 22px 8px;
    background-repeat: no-repeat;
    padding: 3px 24px 3px 38px;
    height: 32px;
}

.compose-topbar .compose-actions .compose-action {
    background-position: 40% 8px;
    width: 100%
}

.compose-topbar .btn-reset {
    font-size: 14px;
    background-image: url(../images/newpcbway/icon-spr.png);
    background-position: 34% -150px;
    background-repeat: no-repeat;
    padding: 3px 24px 3px 38px;
    font-weight: normal;
    height: 24px;
    width: 40%;
    display: inline-block;
    line-height: 22px;
}

.compose-topbar .btn-reset:hover {
    background-color: #eee;
}

.ui2-button-primary, a.ui2-button-primary {
    background-color: #27ae61;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #219452;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.ui2-button-primary:hover {
    background-color: #25a159;
    border-color: #219452;
}

.icon-spr {
    background: url(../images/newpcbway/icon-spr.png) no-repeat 0 0;
    display: inline-block;
}

.calculator-icon1 {
    width: 17px;
    height: 14px;
    vertical-align: middle;
}

.maui-row-main-wrap .ui2-box {
    margin-top: 14px;
    border-radius: 3px;
    padding: 15px 20px;
    border: 1px solid #DAE2ED;
    background-color: #FFF;
    box-shadow: 0 1px 1px #cfdce4
}

.maui-row-main-wrap .ui2-box-wrap {
    margin-bottom: 8px;
}

.maui-row-main-wrap .negotiation-products .ui2-box {
    margin-top: 14px;
}

.title-medium {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.ui2-box-header, .ui2-box-title {
    margin: 0;
    overflow: hidden;
    position: relative;
}

label.ui2-box-title:hover {
    color: #3db11d;
}

.maui-row-main-wrap .ui2-box-title {
    cursor: pointer;
    font-size: 16px;
}

.maui-row-main-wrap .ui2-box-body {
    margin-top: 6px;
}

.input-group .form-control.datepicker {
    background: #f3f3f3;
    cursor: not-allowed;
}

/*prototype pcb*/
.special_options {
    margin: 20px -20px;
}

.special_options_nav {
    cursor: pointer;
    background-color: #f4f7f6;
    margin: 0;
    border-top: 1px solid #ecefee;
    border-bottom: 1px solid #ecefee;
    font-weight: bold;
    padding: 10px 20px;
}

.special_options_nav .btn-radio {
    background: url(../images/plus-icon.png) no-repeat 0 -2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.special_options_nav.active .btn-radio {
    background: url(../images/less-icon.png) no-repeat 0 -2px;
}

.special_options_nav .angle-updown {
    background: url(../images/newpcbway/icon-spr.png) no-repeat 5px -66px;
    width: 22px;
    height: 22px;
    vertical-align: middle
}

.special_options_nav .special_options_titl {
    color: #333;
    font-size: 14px;
}

.special_options_nav .special_options_titl em {
    color: #B59F38;
}

.special_options_nav.active .angle-updown {
    background-position: 5px -96px
}

.special_options_wrap {
    padding: 20px 20px 10px;
    border-top: 0 none;
    display: none;
}

.special_options .dash-line {
    display: none;
    height: 14px;
    width: 100%;
    background: url(../images/dash_shadow.gif) center repeat-x;
}

.special_options_wrap .list-search-filter .ui2-dropdown {
    margin-left: 0px;
}

.additionalbottom li {
    width: 31.4%;

    float: left;
    font-size: 13px;
}

.additionalbottom li label {
    display: block;
    margin-bottom: 10px;
    color: #383838;
}

.additionalbottom li label input {
    margin-left: 0;
    position: relative;
    top: 2px;
    left: 0;
    margin-right: 0;
}

.color99 {
    color: #999;
}

.iso-arrow {
    float: right;
    font-size: 14px;
}

.list-mian-block {
    background: #f5f7fa;
    margin: 0 -20px 18px;
    padding: 14px 20px 10px;
}

.list-search-filter {
    margin-bottom: 8px;
    padding-left: 142px;
    padding-right: 0;
    position: relative;
}

h4.list-search-row-title {
    color: #777;
    display: inline-block;
    font-size: 13px;
    min-width: 120px;
    text-align: left;
    white-space: nowrap;
}

.list-search-filter h4.list-search-row-title {
    left: 0;
    position: absolute;
    top: 6px;
}

.list-search-filter a.filter-tag {
    border: 1px solid #dfe6f0;
    border-radius: 0;
    color: #697c90;
    display: inline-block;
    background: #fff;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 5px 6px;
    line-height: 17px;
    text-decoration: none;
}

.list-search-filter a.filter-tag:hover {
    border: 1px solid #00c339;
}

.list-search-filter a.filter-tag.active {
    border: 2px solid #00c339;
    position: relative;
    color: #383f47;
}

.list-search-filter a.filter-tag.unclickbtn {
    background: #f9f9f9;
    border: 1px dashed #dfe6f0;
    cursor: default;
}

.list-search-filter a.filter-tag.unclickbtn:hover {
    border: 1px dashed #dfe6f0;
}

.list-search-filter a.filter-tag .mask_col {
    width: 13px;
    height: 13px;
    vertical-align: top;
    margin-right: 4px;
    border-radius: 1px;
    display: inline-block;
}

.list-search-filter a.filter-tag .mask_col_green {
    background: #017b07;
}

.list-search-filter a.filter-tag .mask_col_red {
    background: #bb1407;
}

.list-search-filter a.filter-tag .mask_col_yellow {
    background: #ffd200;
}

.list-search-filter a.filter-tag .mask_col_blue {
    background: #0c4ad9;
}

.list-search-filter a.filter-tag .mask_col_white {
    background: #ffffff;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
}

.list-search-filter a.filter-tag .mask_col_black {
    background: #000000;
}

.list-search-filter a.filter-tag .mask_col_purple {
    background: #a20495;
    background-image: -webkit-linear-gradient(top, #cb5fc2, #a20495);
}

.list-search-filter a.filter-tag .mask_col_matteblack {
    background: #0f0f0f;
    background-image: -webkit-linear-gradient(top, #666666, #000000);
}

.list-search-filter a.filter-tag .mask_col_mattegreen {
    background: #218626;
    background-image: -webkit-linear-gradient(top, #58de5f, #218626);
}

.list-search-filter a.filter-tag .mask_col_grey {
    background: #ababab;
}

.list-search-filter a.filter-tag .mask_col_none {
    background: #f0f0f0;
}

.list-search-filter a.filter-tag.active i {
    background-image: url("../images/newpcbway/icon-spr.png");
    background-position: -20px -388px;
    background-repeat: no-repeat;
    bottom: 0;
    display: block;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -99em;
    width: 12px;
}

.pcb_type .list-search-filter a.filter-tag {
    text-decoration: none;
    width: auto !important;
    background-position: left center !important;
    padding: 8px 9px 8px 45px;
}

.ui2-radio-customize-input {
    vertical-align: middle;

}

.ui2-radio-customize-label {
    top: 1px;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-right: 28px;
    position: relative;
}

.ui2-form-col18 {
    min-height: 30px;
}

.dropdown-toggle {
    margin: 0 -20px 8px;
    padding: 10px 20px;
    border: 1px solid #ededed;
    background: #fff;
    display: none;
}

.smfl label {
    margin-right: 10px;
}

.smfl input {
    margin-right: 3px;
}

.form-control {
    display: block;
    height: 28px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 28px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dae2ed;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
    border-color: #1686cc;
    outline: 0;

}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

.ln-ipt.form-control {
    width: 60px;
    display: inline-block;
    vertical-align: middle;
}

.bdsug {
    display: none;
    position: absolute;
    z-index: 1;
    width: 188px;
    background: #fff;
    border: 1px solid #ccc;
    _overflow: hidden;
    box-shadow: 1px 1px 3px #ededed;
    -webkit-box-shadow: 1px 1px 3px #ededed;
    -moz-box-shadow: 1px 1px 3px #ededed;
    -o-box-shadow: 1px 1px 3px #ededed;
}

.differentp .bdsug {
    top: 29px;
    z-index: 4;
}

.bdsug li {
    width: 172px;
    color: #000;
    font: 14px arial;
    line-height: 22px;
    padding: 0 8px;
    position: relative;
    cursor: default;
}


.example {
    border-bottom: 1px dashed #007cdc;
    color: #007cdc;
    cursor: pointer;
    padding-bottom: 2px;
}

.mr50 {
    margin-right: 50px;
}

.jealk label {
    color: #777;
}

.ui2-dropdown-customize {
    border: 1px solid #c6cad1;
    color: #333;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    display: inline-block;
    position: relative;
    background: #fff none repeat scroll 0 0;
    z-index: 3;
    *display: inline;
    *zoom: 1;
}

.jealk .ui2-dropdown {
    width: 51px;
    margin-right: 0;
}

.ui2-dropdown {
    margin: 0 15px 0 0;
}

.ui2-dropdown-layout {
    font-size: 13px;
    display: inline-block;
    width: 270px;
}

.ui2-dropdown-layout a {
    padding-left: 9px;
    color: #333;
    display: block;
    line-height: 24px;
    padding-right: 8px;
    text-decoration: none;
}

.ui2-dropdown-layout a a:hover {
    color: #666;
}

.ui2-icon-arrow-down {
    background: url(../images/newpcbway/icon-spr.png) no-repeat 8px -61px;
    cursor: pointer;
    top: 0;
    height: 26px;
    padding: 0 0 0 5px;
    text-align: center;
    width: 20px;
}

.ui2-popup-menu {
    display: none;
    padding: 8px 0;
    border: 1px solid #e7e7e7;
    font-size: 13px;
    box-shadow: 2px 2px 5px rgba(83, 100, 122, 0.35);
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 100;
    background: #fff;
}

.ui2-popup-menu li {
    width: 268px;
}

.ui2-popup-menu li a {
    cursor: pointer;
    text-decoration: none;
    height: 28px;
    line-height: 28px;
    background-color: #fff;
    border: 0 none;
    color: #666;
    display: block;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui2-popup-menu li a:hover {
    background-color: #edf1f5
}

.ui2-popup-menu li a:active {
    color: #ff751a;
}

.jealk .ln-ipt {
    margin-left: -7px;
}

.ui2-dropdown-customize.opened {
    border: 1px solid #1686cc;
}

.ui2-dropdown-customize.opened .ui2-popup-menu {
    display: block;
}

.ui2-form-required {
    color: #cc1414;
}

.differentp .form-control {
    width: 132px;
    display: inline-block;
    vertical-align: middle;
}

.differentp {
    display: inline-block;
}

/**/
.smintip {
    cursor: pointer;
    position: relative;
}

.smintip:after {
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background-color: transparent;
    z-index: 9999;
}

.wdetail-tips {
    max-width: none;
    white-space: normal;
    cursor: text;
}

/**/
.input-group .form-control {
    float: left;
    display: inline-block;
    width: 85px;
    background: #fcf8e3;
}

.input-group .form-control:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group .form-control:not(:first-child) {
    border-radius: 0;
}

.input-group-addon {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    height: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
}

.input-group .input-group-addon {
    float: left;
    border-radius: 0px;
}

.input-group .input-group-addon:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 0 none;
}

.xy-sizepanelpic {
    position: absolute;
    left: 560px;
    top: -15px;
}

.fangkc {
    height: 12px;
    width: 10px;
    display: inline-block;
}

.boardnumber {
    width: 346px;
    border: 1px solid #66afe9;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 28px;
    top: 28px \9;
    background-color: #FFF;
    z-index: 2;
    padding: 7px 0 5px 10px;
    color: #6E6E6E;
}

.boardnumber ul {
    width: 347px;
    padding: 0px 4px;
}

.boardnumber li {
    float: left;
    width: 57px;
    padding: 2px 0 2px 6px;
    margin-bottom: 4px;
    line-height: 16px;
    overflow: inherit;
}

.boardnumber li label input {
    vertical-align: top;
}

.boardnumber li:hover {
    box-shadow: 0 0 10px #ccc;
}

.boardnumber li label {
    display: block;
}


.boardnumber .boardnumberbtn input.txtstyle2 {
    width: 95px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #d8d8d8;
    color: #6E6E6E;
    padding-left: 3px;
    margin-right: 3px;
}

.boardnumber .boardnumberbtn {
    margin: 5px 0;
    padding-left: 4px;
    float: left;
    width: 100%;
}

.boardnumber .boardnumberbtn a input {
    width: 60px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
    border: 0px;
    font-size: 12px;
    margin-left: 6px;
    background: #467FEA;
    border-radius: 2px;
    color: #fff;
}

.boardnumber .boardnumberbtn a:hover {
    text-decoration: none;
    opacity: 0.8;
}

.boardnumber .boardnumberbtn a input#btn3 {
    background: #7B7B7B;
}

/*打叉板-喷锡*/
.custom-weight-show {
    margin-bottom: 10px;
    background-color: #fffae0;
    border: 1px solid #f1d38b;
    color: #999;
    padding: 4px 4px 2px;
    margin-top: 5px;
    font-size: 11px;
}

.yes-no-hasl {
    margin-top: 0px;
    color: #333;
}

.yes-no-hasl label {
    line-height: 20px;
    padding-right: 10px;
    vertical-align: middle;
}

.yes-no-hasl input {
    font-size: 12px;
    vertical-align: middle;
    margin-right: 5px;
}

.form-control.inquiry-content {
    max-width: 100%;
    min-height: 70px;
    line-height: 18px;
    padding: 6px 10px;
    resize: none;
    width: 90%;
}

.smdstencil-note {
    font-size: 13px;
    color: #999;
    margin-left: 30px;
    font-weight: normal;
}

.ui2-action-gap.ui2-icon-arrow-down {
    display: inline-block;
    height: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb5 {
    margin-bottom: 5px;
}

.mt5 {
    margin-top: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.w65 {
    width: 65px !important;
}

.inline-block {
    display: inline-block;
}

.mh-notice-board {
    background-color: #f5f7fa;
    border: 1px solid #dae2ed;
    -webkit-box-shadow: 1px 1px 2px rgba(83, 100, 122, .15);
    -moz-box-shadow: 1px 1px 2px rgba(83, 100, 122, .15);
    box-shadow: 1px 1px 2px rgba(83, 100, 122, .15)
}

.mh-notice-board h3 {
    border-bottom: 1px solid #dae2ed;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin-bottom: 0;
    padding: 0 10px;
}

.mh-notice-board .notice-board-content {
    background: #fff;
    padding: 10px 10px 5px;
}

.maui-row-main-wrap .negotiation-caclulate .ui2-box {
    background: #f5f7f8;
}

.mh-area-box {
    margin-bottom: 10px;
}

.payment-type {
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 8px;
}

.payment-type .ui2-notice-small {
    padding: 10px 26px 4px 2px;
}

.ui2-icon-smile {
    background-position: 0 -127px;
    width: 18px;
    height: 17px;
    margin-right: -26px;
    float: left;
}

.ui2-notice-small .ui2-notice-content {
    color: #999;
    margin-left: 10px;
    width: 100%;
}

.shipping-pay-icon i {
    background: url(../images/iconspirit.png) no-repeat 0 -140px;
    height: 19px;
    display: inline-block;
    margin-bottom: 4px;
}

.shipping-pay-icon i.pay-icon {
    width: 165px;
}

.shipping-pay-icon i.pay-icon2 {
    width: 165px;
    margin-left: 3px;
    background-position: 0 -161px;
}

.shipping-pay-icon i.wuliu-icon {
    background-position: -168px -140px;
    width: 212px;
}

.shipping-pay-icon i.wuliu-icon2 {
    background-position: -168px -161px;
    width: 210px;
}

.ui2-notice-content p {
    margin-bottom: 4px;
    line-height: 14px;
    font-size: 11px;
}

.ui2-notice-content p b {
    color: #333;
}

.shipping-pay-icon {
    margin: 10px 0;
}

.selected-price-header {
    color: #aaa;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #eee;
    padding: 3px 0;
}

.selected-price-header span {
    float: left;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: left;
}

.selected-price-header span.buildt {
    width: 96px;
    padding-left: 44px;
}

.selected-price-header span.pcbqty {
    width: 70px;
    text-align: center;
}

.selected-price-header span.pcbsubtotal {
    width: 87px;
    text-align: center;
}

.options-field {
    border-radius: 0px 0px 3px 3px;
    padding: 4px 4px 0;
    position: relative;
    background-color: #f1f4f4;
    color: #858d90;
    margin-bottom: 13px;
    cursor: pointer;
    border: 1px solid #f1f4f4;
    text-align: left;
    *padding-bottom: 3px;
}

.options-field .option {
    display: block;
    position: relative;
    height: 33px;
    line-height: 33px;
    color: #888;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 4px;
    cursor: pointer;
}

.options-field .option .radio-icon {
    background-image: url(../images/radio-icon.png);
    width: 22px;
    height: 22px;
    position: absolute;
    top: 6px;
    left: 8px;
    z-index: 2;
}

.options-field .option.selected .radio-icon {
    background-image: url(../images/radio-icon-che.png);
    width: 22px;
    height: 22px;
}

.options-field .option.selected {
    background: #ffffff;
    border-radius: 2px;
    color: #3b474c;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
}

.options-field .option .label {
    font-size: 13px;
    font-weight: 700;
    float: left;
    padding-left: 40px;
    width: 120px;
    display: inline-block;
}

.options-field .option .label img {
    vertical-align: middle;
    margin-bottom: 3px;
}

.options-field .option .qty-div {
    float: left;
    width: 50px;
    text-align: center;
}

.options-field .option .extra {
    width: 87px;
    float: right;
    text-align: center;
}

.notice-board-content .specification {
    color: #666;
}

.notice-board-content .specification label {
    line-height: 22px;
    color: #888;
}

.notice-board-content .specification {
    margin-bottom: 10px;
    color: #333;
}

.notice-board-content .specification select {
    border: 1px solid #cbcbcb;
    font-size: 12px;
    border-radius: 3px;
    padding: 4px 0;
}

/*product-shipping1*/
.notice-board-content .specification .product-shipping1 {
    display: block;
    float: left;
    font-size: 11px;
    font-weight: 700;
}

.notice-board-content .specification .product-shipping1 .list-sep {
    display: block;
    font-weight: normal;
    font-size: 10px;
    padding: 5px;
}

.notice-board-content .specification .product-shipping1 .shipping_country {
    position: relative;
    display: inline-block;
}

.notice-board-content .specification .product-shipping1 .shipping_country img {
    vertical-align: top;
}

.product-shipping1 .link-fake-selector {
    position: relative;
    height: 24px;
    font-family: tahoma;
    font-size: 11px;
    border: 1px solid #AAAAAC;
    overflow: hidden;
    width: 195px;
}

.notice-board-content .specification .product-shipping1 .link-fake-selector .list-title {
    height: 18px;
    padding: 5px 11px 0 4px;
    font: 11px/17px Tahoma;
    color: #666;
    background: #FFF;
    border: solid #DEDEDE;
    border-width: 1px 0 0 1px;
    overflow: hidden;
    cursor: default;
}

.notice-board-content .specification .product-shipping1 .link-fake-selector .fold:before {
    content: "";
    display: block;
    border: 1px solid #fff;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    border-top: 6px solid #333;
    position: absolute;
    right: 5px;
    top: 10px;
    height: 0;
    width: 0;
}

.notice-board-content .specification .product-shipping1 .link-fake-selector .list-title.unfold:before {
    content: "";
    display: block;
    border: 1px solid #fff;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    border-bottom: 6px solid #333;
    position: absolute;
    right: 5px;
    top: 9px;
    height: 0;
    width: 0;
}

.notice-board-content .specification .product-shipping1 .link-fake-selector .country-text {
    position: relative;
    width: 154px;
    line-height: 10px;
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
}

.notice-board-content .specification .product-shipping1 .list-container {
    position: absolute;
    left: 0;
    background-color: #FFF;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    height: 250px;
    overflow-y: auto;
    padding: 5px 0;
    width: 243px;
    z-index: 999;
}

.notice-board-content .specification .product-shipping1 .list-container a {
    display: block;
    float: none;
    margin: 0 3px !important;
    padding: 2px 2px;
    font: 11px Tahoma;
    color: #105cb6;
    border: 1px solid #FFf;
    text-decoration: none
}

.notice-board-content .specification .product-shipping1 .list-container a:hover {
    background-color: #f5faff none;
    text-decoration: none;
    border: 1px solid #C4D8E6;
}

.css_flag {
    padding: 0 0 0 24px;
    background: url(../images/country/flag-icons.png) 0 -20px no-repeat;
}

.flagbg-1 {

    background-position: -10px -2819px;
}

.flagbg-2 {

    background-position: -10px -10px;
}

.flagbg-3 {

    background-position: -10px -2852px;
}

.flagbg-4 {

    background-position: -10px -2885px;
}

.flagbg-5 {

    background-position: -10px -6977px;
}

.flagbg-6 {

    background-position: -10px -40px;
}

.flagbg-7 {

    background-position: -10px -2918px;
}

.flagbg-8 {

    background-position: -10px -2951px;
}

.flagbg-9 {

    background-position: -10px -70px;
}

.flagbg-10 {

    background-position: -10px -1900px;
}

.flagbg-11 {

    background-position: -10px -100px;
}

.flagbg-12 {

    background-position: -10px -2984px;
}

.flagbg-13 {

    background-position: -10px -3017px;
}

.flagbg-14 {

    background-position: -10px -1931px;
}

.flagbg-15 {

    background-position: -10px -3050px;
}

.flagbg-16 {

    background-position: -10px -3083px;
}

.flagbg-17 {

    background-position: -10px -130px;
}

.flagbg-18 {

    background-position: -10px -3116px;
}

.flagbg-19 {

    background-position: -10px -3149px;
}

.flagbg-20 {

    background-position: -10px -3182px;
}

.flagbg-21 {

    background-position: -10px -160px;
}

.flagbg-22 {

    background-position: -10px -3215px;
}

.flagbg-23 {

    background-position: -10px -190px;
}

.flagbg-24 {

    background-position: -10px -3248px;
}

.flagbg-25 {

    background-position: -10px -220px;
}

.flagbg-26 {

    background-position: -10px -250px;
}

.flagbg-27 {

    background-position: -10px -2179px;
}

.flagbg-28 {

    background-position: -10px -2211px;
}

.flagbg-29 {

    background-position: -10px -3281px;
}

.flagbg-30 {

    background-position: -10px -280px;
}

.flagbg-31 {

    background-position: -10px -7423px;
}

.flagbg-32 {

    background-position: -10px -3314px;
}

.flagbg-33 {

    background-position: -10px -3347px;
}

.flagbg-34 {

    background-position: -10px -310px;
}

.flagbg-35 {

    background-position: -10px -3380px;
}

.flagbg-36 {

    background-position: -10px -3413px;
}

.flagbg-37 {

    background-position: -10px -2243px;
}

.flagbg-38 {

    background-position: -10px -3446px;
}

.flagbg-40 {

    background-position: -10px -3479px;
}

.flagbg-41 {

    background-position: -10px -340px;
}

.flagbg-42 {

    background-position: -10px -370px;
}

.flagbg-43 {

    background-position: -10px -7011px;
}

.flagbg-44 {

    background-position: -10px -3512px;
}

.flagbg-45 {

    background-position: -10px -3545px;
}

.flagbg-46 {

    background-position: -10px -3578px;
}

.flagbg-47 {

    background-position: -10px -7045px;
}

.flagbg-48 {

    background-position: -10px -3611px;
}

.flagbg-49 {

    background-position: -10px -400px;
}

.flagbg-50 {

    background-position: -10px -7079px;
}

.flagbg-51 {

    background-position: -10px -7113px;
}

.flagbg-52 {

    background-position: -10px -3644px;
}

.flagbg-53 {

    background-position: -10px -430px;
}

.flagbg-54 {

    background-position: -10px -460px;
}

.flagbg-55 {

    background-position: -10px -3677px;
}

.flagbg-56 {

    background-position: -10px -2275px;
}

.flagbg-57 {

    background-position: -10px -3710px;
}

.flagbg-58 {

    background-position: -10px -490px;
}

.flagbg-59 {

    background-position: -10px -3743px;
}

.flagbg-60 {

    background-position: -10px -3776px;
}

.flagbg-61 {

    background-position: -10px -520px;
}

.flagbg-62 {

    background-position: -10px -550px;
}

.flagbg-63 {

    background-position: -10px -2307px;
}

.flagbg-64 {

    background-position: -10px -3809px;
}

.flagbg-65 {

    background-position: -10px -1962px;
}

.flagbg-66 {

    background-position: -10px -3842px;
}

.flagbg-67 {

    background-position: -10px -580px;
}

.flagbg-68 {

    background-position: -10px -7147px;
}

.flagbg-69 {

    background-position: -10px -3875px;
}

.flagbg-70 {

    background-position: -10px -610px;
}

.flagbg-71 {

    background-position: -10px -3908px;
}

.flagbg-72 {

    background-position: -10px -3941px;
}

.flagbg-73 {

    background-position: -10px -2339px;
}

.flagbg-74 {

    background-position: -10px -640px;
}

.flagbg-75 {

    background-position: -10px -3974px;
}

.flagbg-76 {

    background-position: -10px -1993px;
}

.flagbg-78 {

    background-position: -10px -7181px;
}

.flagbg-79 {

    background-position: -10px -670px;
}

.flagbg-80 {

    background-position: -10px -2024px;
}

.flagbg-81 {

    background-position: -10px -4007px;
}

.flagbg-82 {

    background-position: -10px -4040px;
}

.flagbg-83 {

    background-position: -10px -4073px;
}

.flagbg-86 {

    background-position: -10px -4106px;
}

.flagbg-87 {

    background-position: -10px -4139px;
}

.flagbg-88 {

    background-position: -10px -4172px;
}

.flagbg-89 {

    background-position: -10px -2371px;
}

.flagbg-90 {

    background-position: -10px -4205px;
}

.flagbg-91 {

    background-position: -10px -700px;
}

.flagbg-92 {

    background-position: -10px -4238px;
}

.flagbg-93 {

    background-position: -10px -4271px;
}

.flagbg-94 {

    background-position: -10px -2403px;
}

.flagbg-95 {

    background-position: -10px -4304px;
}

.flagbg-96 {

    background-position: -10px -730px;
}

.flagbg-97 {

    background-position: -10px -4337px;
}

.flagbg-98 {

    background-position: -10px -4370px;
}

.flagbg-99 {

    background-position: -10px -760px;
}

.flagbg-100 {

    background-position: -10px -4403px;
}

.flagbg-101 {

    background-position: -10px -4436px;
}

.flagbg-103 {

    background-position: -10px -790px;
}

.flagbg-104 {

    background-position: -10px -4469px;
}

.flagbg-105 {

    background-position: -10px -2435px;
}

.flagbg-106 {

    background-position: -10px -4502px;
}

.flagbg-107 {

    background-position: -10px -2055px;
}

.flagbg-108 {

    background-position: -10px -4535px;
}

.flagbg-109 {

    background-position: -10px -820px;
}

.flagbg-110 {

    background-position: -10px -7215px;
}

.flagbg-111 {

    background-position: -10px -4568px;
}

.flagbg-112 {

    background-position: -10px -850px;
}

.flagbg-113 {

    background-position: -10px -4601px;
}

.flagbg-114 {

    background-position: -10px -880px;
}

.flagbg-115 {

    background-position: -10px -4634px;
}

.flagbg-116 {

    background-position: -10px -4667px;
}

.flagbg-117 {

    background-position: -10px -4700px;
}

.flagbg-118 {

    background-position: -10px -910px;
}

.flagbg-119 {

    background-position: -10px -4733px;
}

.flagbg-121 {

    background-position: -10px -4766px;
}

.flagbg-122 {

    background-position: -10px -4799px;
}

.flagbg-123 {

    background-position: -10px -4832px;
}

.flagbg-124 {

    background-position: -10px -940px;
}

.flagbg-125 {

    background-position: -10px -970px;
}

.flagbg-126 {

    background-position: -10px -4865px;
}

.flagbg-127 {

    background-position: -10px -4898px;
}

.flagbg-128 {

    background-position: -10px -2467px;
}

.flagbg-129 {
    width: 20px;
    height: 15px;
    background-position: -10px -7317px;
}

.flagbg-130 {

    background-position: -10px -4931px;
}

.flagbg-131 {

    background-position: -10px -4964px;
}

.flagbg-132 {

    background-position: -10px -4997px;
}

.flagbg-133 {

    background-position: -10px -5030px;
}

.flagbg-134 {

    background-position: -10px -5063px;
}

.flagbg-135 {

    background-position: -10px -5096px;
}

.flagbg-136 {

    background-position: -10px -1000px;
}

.flagbg-137 {

    background-position: -10px -5129px;
}

.flagbg-138 {

    background-position: -10px -5162px;
}

.flagbg-139 {

    background-position: -10px -5195px;
}

.flagbg-140 {

    background-position: -10px -5228px;
}

.flagbg-141 {

    background-position: -10px -2499px;
}

.flagbg-142 {

    background-position: -10px -2531px;
}

.flagbg-143 {

    background-position: -10px -1030px;
}

.flagbg-144 {

    background-position: -10px -5261px;
}

.flagbg-145 {

    background-position: -10px -1060px;
}

.flagbg-146 {

    background-position: -10px -1090px;
}

.flagbg-147 {

    background-position: -10px -5294px;
}

.flagbg-148 {

    background-position: -10px -5327px;
}

.flagbg-149 {

    background-position: -10px -2086px;
}

.flagbg-150 {

    background-position: -10px -5360px;
}

.flagbg-151 {

    background-position: -10px -1120px;
}

.flagbg-152 {

    background-position: -10px -5393px;
}

.flagbg-153 {

    background-position: -10px -5426px;
}

.flagbg-154 {

    background-position: -10px -5459px;
}

.flagbg-155 {

    background-position: -10px -5492px;
}

.flagbg-156 {

    background-position: -10px -1150px;
}

.flagbg-157 {

    background-position: -10px -5525px;
}

.flagbg-158 {

    background-position: -10px -7460px;
}

.flagbg-159 {

    background-position: -10px -1180px;
}

.flagbg-160 {

    background-position: -10px -1210px;
}

.flagbg-161 {

    background-position: -10px -1240px;
}

.flagbg-162 {

    background-position: -10px -1270px;
}

.flagbg-163 {

    background-position: -10px -1300px;
}

.flagbg-164 {

    background-position: -10px -2563px;
}

.flagbg-165 {

    background-position: -10px -5558px;
}

.flagbg-166 {

    background-position: -10px -5591px;
}

.flagbg-167 {

    background-position: -10px -5624px;
}

.flagbg-168 {

    background-position: -10px -5657px;
}

.flagbg-169 {

    background-position: -10px -7352px;
}

.flagbg-170 {

    background-position: -10px -5690px;
}

.flagbg-171 {

    background-position: -10px -7249px;
}

.flagbg-172 {

    background-position: -10px -1330px;
}

.flagbg-173 {

    background-position: -10px -1360px;
}

.flagbg-174 {

    background-position: -10px -2595px;
}

.flagbg-175 {

    background-position: -10px -5723px;
}

.flagbg-176 {

    background-position: -10px -5756px;
}

.flagbg-177 {

    background-position: -10px -1390px;
}

.flagbg-178 {

    background-position: -10px -5789px;
}

.flagbg-179 {

    background-position: -10px -5822px;
}

.flagbg-180 {

    background-position: -10px -5855px;
}

.flagbg-181 {

    background-position: -10px -5888px;
}

.flagbg-185 {

    background-position: -10px -1420px;
}

.flagbg-186 {

    background-position: -10px -5921px;
}

.flagbg-187 {

    background-position: -10px -2117px;
}

.flagbg-188 {

    background-position: -10px -5954px;
}

.flagbg-189 {

    background-position: -10px -5987px;
}

.flagbg-190 {

    background-position: -10px -1450px;
}

.flagbg-191 {

    background-position: -10px -6020px;
}

.flagbg-192 {

    background-position: -10px -6053px;
}

.flagbg-193 {

    background-position: -10px -1480px;
}

.flagbg-194 {

    background-position: -10px -6086px;
}

.flagbg-195 {

    background-position: -10px -6119px;
}

.flagbg-196 {

    background-position: -10px -2627px;
}

.flagbg-197 {

    background-position: -10px -6152px;
}

.flagbg-198 {

    background-position: -10px -1510px;
}

.flagbg-199 {

    background-position: -10px -1540px;
}

.flagbg-200 {

    background-position: -10px -2659px;
}

.flagbg-201 {

    background-position: -10px -1570px;
}

.flagbg-202 {

    background-position: -10px -6185px;
}

.flagbg-204 {

    background-position: -10px -6218px;
}

.flagbg-205 {

    background-position: -10px -2691px;
}

.flagbg-206 {

    background-position: -10px -7497px;
}

.flagbg-207 {

    background-position: -10px -6251px;
}

.flagbg-208 {

    background-position: -10px -1600px;
}

.flagbg-209 {

    background-position: -10px -6284px;
}

.flagbg-210 {

    background-position: -10px -6317px;
}

.flagbg-211 {

    background-position: -10px -6350px;
}

.flagbg-212 {

    background-position: -10px -1630px;
}

.flagbg-213 {

    background-position: -10px -1660px;
}

.flagbg-214 {

    background-position: -10px -6383px;
}

.flagbg-215 {

    background-position: -10px -6416px;
}

.flagbg-216 {

    background-position: -10px -6449px;
}

.flagbg-217 {

    background-position: -10px -1690px;
}

.flagbg-218 {

    background-position: -10px -1720px;
}

.flagbg-219 {

    background-position: -10px -1750px;
}

.flagbg-220 {

    background-position: -10px -2723px;
}

.flagbg-221 {

    background-position: -10px -6482px;
}

.flagbg-222 {

    background-position: -10px -1780px;
}

.flagbg-224 {

    background-position: -10px -7283px;
}

.flagbg-225 {

    background-position: -10px -1810px;
}

.flagbg-226 {

    background-position: -10px -2755px;
}

.flagbg-227 {

    background-position: -10px -7537px;
}

.flagbg-228 {

    background-position: -10px -6515px;
}

.flagbg-229 {

    background-position: -10px -6548px;
}

.flagbg-230 {

    background-position: -10px -1840px;
}

.flagbg-231 {

    background-position: -10px -2787px;
}

.flagbg-232 {

    background-position: -10px -7387px;
}

.flagbg-233 {

    background-position: -10px -2148px;
}

.flagbg-234 {

    background-position: -10px -6581px;
}

.flagbg-235 {

    background-position: -10px -6614px;
}

.flagbg-236 {

    background-position: -10px -6647px;
}

.flagbg-237 {

    background-position: -10px -6680px;
}

.flagbg-238 {

    background-position: -10px -1870px;
}

.flagbg-240 {

    background-position: -10px -6713px;
}

.flagbg-241 {

    background-position: -10px -6746px;
}

.flagbg-242 {

    background-position: -10px -6779px;
}

.flagbg-243 {

    background-position: -10px -6812px;
}

.flagbg-244 {

    background-position: -10px -6845px;
}

.flagbg-245 {

    background-position: -10px -6878px;
}

.flagbg-246 {

    background-position: -10px -6911px;
}

.flagbg-247 {

    background-position: -10px -6944px;
}

.notice-board-content .delvity {
    margin: 12px 0 16px 0;
    /*border-bottom: 1px dashed #ddd;*/
    color: #666;
}

.notice-board-content .shipping-jiage {
    font-weight: 700;
    font-size: 12px;
    color: #219452;
}

.notice-board-content .before-img {
    padding-bottom: 2px;
    font-size: 11px;
}

.notice-board-content .total-a {
    color: #666;
    line-height: 22px;
}

.notice-board-content .total-a label {
    display: block;
    float: left;
    width: 90px;
}

.notice-board-content span.cred {
    font-weight: bold;
    font-size: 13px;
    color: #ff0000
}

#assembly-total {
    font-size: 16px;
}

.notice-board-content .emails {
    color: #666;
    margin-top: 12px;
}

.negotiation-footer {
    line-height: 1.5;
    margin: 0 0 40px;
    color: #666;
}

.negotiation-footer .price-info {
    border-bottom: 1px solid #e5e8e8;
    padding-bottom: 6px;
    margin-bottom: 8px;
}

.negotiation-footer .price-info .info-title .count-down {
    border: 1px solid #FFC7A0;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    color: #ED5F00;
    display: inline-block;
    margin-left: 0;
    padding: 0 6px;
}

.negotiation-footer .price-info .info-title .f-tag {
    vertical-align: middle;
    background-color: #ffa900;
    color: #fff;
    height: 16px;
    line-height: 17px;
    font-size: 12px;
    padding: 0 14px 0 6px;
    position: relative;
    display: inline-block;
    margin-right: 2px;
    white-space: nowrap;
}

.negotiation-footer .price-info .che-discount {
    margin-bottom: 7px;
}

.negotiation-footer .price-info .info-title .f-tag i {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 7px solid #FFF;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 0;
    right: 0
}

.negotiation-footer .price-info .info-title {
    display: block;
    float: left;
    width: 65%;
}

.negotiation-footer .price-info .info-value {
    display: block;
    float: right;
    width: 34.5%;
    text-align: right;
}

.detail-negotiation .negotiation-highlight {
    color: #ff751a;
}

.negotiation-footer .unlogin-email {
    margin-bottom: 9px;
}

.negotiation-footer .unlogin-email label, .negotiation-footer .liuyan-guide label {
    display: block;
    margin-bottom: 3px;
    color: #888;
}

.negotiation-footer .liuyan-guide .form-control.inquiry-content {
    width: 92.6%;
    min-height: 38px;
}

.negotiation-footer .unlogin-email .form-control {
    width: 92.6%;
}

.os-btn {
    background: #fafafa;
    border: 1px solid #d5d7d8;
    width: 100%;
    padding: 6px 12px 6px;
    text-align: center;
    color: #454545;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    position: relative
}

.os-btn:hover {
    text-decoration: none
}

.compose-footer-actions .os-btn.add-shoppingcart:before {
    border-right: 1px solid #25a159;
    left: 0;
    content: "";
    padding: 10px;
    position: absolute;
    top: 0;
    background: #25a159 url("../images/newpcbway/icon-spr.png") no-repeat scroll 7px -27px;
    width: 12px;
    height: 13px;
}

.os-btn.success {
    background-color: #27AE61;
    border-color: #219452;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3)
}

.os-btn.success:hover {
    background-color: #25a159;
    border-color: #219452;
    color: #fff
}

.os-btn.success:active {
    background-color: #27AE61;
    border-color: #219452;
    color: #fff;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2)
}

.add-shoppingcart {
    font-size: 14px;
}

.os-btn.add-shoppingcart {
    width: 170px;
    padding-left: 32px;
    display: block;
    height: 20px;
    float: right;
    line-height: 20px;
}

.negotiation-footer .price-info .total-price {
    font-size: 14px;
    margin-top: 6px;
    font-weight: 700;
}

.negotiation-highlight {
    color: #ff751a;
}

.ples-note {
    position: relative;
    background: #fffae0;
}

.ples-note span {
    display: block;
    cursor: pointer;
}

.ples-note-content {
    color: #666;
    line-height: 14px;
    margin-bottom: 8px;
}

.non-elec-testing {
    margin-bottom: 10px;
}

.datagrid-view2 {
    overflow-x: auto;
}

.datagrid-view1 th, .datagrid-view2 th {
    font-weight: normal;
    padding: 3px;
    border: 1px dotted #ccc;
}

.datagrid-view1, .datagrid-view2 {
    float: left;
    font-weight: normal;
    color: #555;
    width: 50%;
}

.datagrid-view1 table, .datagrid-view2 table {
    width: 100%;
}

.datagrid-view1 table td, .datagrid-view2 table td {
    border: 1px dotted #e7eef6;
    white-space: nowrap;
    padding: 3px 5px;
    background: #fff;
    word-wrap: normal;
}

.datagrid-view1 thead tr, .datagrid-view2 thead tr, .datagrid-td-rownumber {
    background-color: #f5faff;
    background: -webkit-linear-gradient(top, #f9fcff 0, #f5faff 100%);
    background: -moz-linear-gradient(top, #f9fcff 0, #f5faff 100%);
    background: -o-linear-gradient(top, #f9fcff 0, #f5faff 100%);
    background: linear-gradient(to bottom, #f9fcff 0, #f5faff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fdfdfd, endColorstr=#f5f5f5, GradientType=0);
}

.datagrid-view1 .active td, .datagrid-view2 .active td {
    background: #fff5a0;
}

.side-bar {
    width: 330px;
    z-index: 3;
    position: relative;
}

.loadingprice {
    position: absolute;
    top: 0px;
    min-height: 590px;
    width: 330px;
    background: #ccc;
    opacity: .5;
    filter: alpha(opacity=50);
    text-align: center;
    z-index: 3;
}

.loadingprice img {
    vertical-align: middle;
    margin-top: 200px;
}

.price_matirx {
    background: #fff;
}

.price_matirx h4 {
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    padding-left: 16px;
    color: #fff;
    background-color: #00a63f;
}

.pmtable {
    width: 100%;
    font-size: 12px;
    color: #666;
}

.pmtable th {
    height: 28px;
    font-weight: 700;
    line-height: 28px;
    background-color: #f7f7f7;
    text-align: center;
}

.pmtable thead th {
    border: 1px solid #ededed;
}

.pmtable td {
    border: 1px solid #e4f3f7;
    text-align: center;
    position: relative;
    height: 32px;
}

.pmtable td img {
    vertical-align: middle;
}

.pmtable .eil {
    color: #b1474b;
}

.pmtable .standard {
    color: #5bc0e1;
}

.pmtable .spar {
    color: #5cb85c;
}

tbody.pricetable tr:nth-child(even) {
    background-color: #f7fcfd;
}

.pmtable td a {
    display: block;
    padding: 4px 6px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
}

.pmtable td a:visited, .pmtable td a:hover, .pmtable td a:active {
    border: 2px solid #00a63f;
    text-decoration: none;
    padding: 2px 4px;
}

.pmtable td.selected i {
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    text-indent: -9999px;
    background: url("../images/newpcbway/icon-spr.png") -20px -388px no-repeat;
    display: block;
}

.pmtable td.selected a {
    border: 2px solid #00a63f;
    padding: 2px 4px;
}

.price_bar {
    background-color: #f2f2f2;
    width: 100%;
    margin: 14px 0 25px;
}

.price_bar td {
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #888;
}

.price_bar td span {
    color: #333;
    margin-left: 5px;
}

.price_bar td span.matirxl_price {
    color: #ff6600;
    font-weight: bold;
}

.btnbottom {
    text-align: center;
}

.btnbottom input {
    margin: 0 10px;
    vertical-align: middle;
}

.pmatrixicon {
    font-size: 12px;
    color: #333;
    border: 1px solid #ddd;
    height: 20px;
    background: url(../images/list-gray.gif) no-repeat 5px 5px #fff;
    padding-left: 25px;
    display: block;
    line-height: 20px;
    padding-right: 5px;
    margin-top: 6px;
}

.pmatrixicon:visited, .pmatrixicon:hover, .pmatrixicon:active {
    font-size: 12px;
    color: #00a63f;
    border: 1px solid #00a63f;
    text-decoration: none;
    background-position: 5px -25px;
}

/*SMT*/
.flexopt {
    background: #fff;
    border: 1px solid #eee;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 128px;
    border-radius: 3px;
    overflow: hidden;
    vertical-align: middle;
    margin: 0 20px 0 5px;
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height: 13px;
    cursor: pointer;
}

.flexopt span {
    background: #96b3d4;
    display: block;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    padding: 5px 0;
}

.flexopt p {
    padding: 4px 0;
    font-size: 12px;
    color: #888;
}

.flexopt.tb-selected span {
    background: #00a63f;
}

.options-titl {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    padding: 0 0 5px;
}

.assembly-notice {
    background: #fffaf3;
    overflow: hidden;
    padding: 5px;
    color: #999;
    font-size: 12px;
}

/*inch-mm*/
.conf_body {
    padding: 20px 15px;
    line-height: 18px;
}

.conf_body div.inchbtn {
    float: right;

}

.conf_body div.inchbtn input {
    font-size: 11px;
    font-weight: normal;
}

/*.notice-board-content .form-inline{ margin-bottom:6px;}
.notice-board-content .form-inline .form-control{ display:inline-block;}
.notice-board-content .form-inline label{ width:70px; display:inline-block;}
.notice-board-content .form-inline .ui-button-primary{ width:120px; margin:10px 0;}*/
.kefuneirong img {
    float: left;
    margin: 5px 10px 0 4px;
}

.kefuneirong div {
    display: inline-block;
    width: 80px;
    padding-top: 12px;
    line-height: 18px;
    color: #555;
    font-size: 14px;
    text-align: left;
}

.Stiffener {
    color: #777;
    margin-bottom: 10px;
}

#dvPIMetalLengh {
    position: relative;
    z-index: 200;
}

#dvPIMetalLenghBOT {
    position: relative;
    z-index: 180;
}

.Stiffener .form-control {
    display: inline-block;
    width: 40px;
    line-height: 22px;
    height: 22px;
}

.Stiffener .ui2-dropdown-customize {
    z-index: 6;
}

.Stiffener .ui2-popup-menu li {
    width: 182px;
}

/*expedited_time*/
.expedited_time {
    margin-bottom: 10px;
}

.expedited_time ul {
    background-color: #e6f6e0;
    padding: 8px 4px;
    border-radius: 0 0 3px 3px;
}

.expedited_time li {
    float: left;
}

.expedited_time li span {
    display: inline-block;
    width: 94px;
    font-size: 12px;
    vertical-align: middle;
    color: #888;
    line-height: 14px;
    margin-left: 10px;
}

.expedited_time li i {
    background: url(../images/shipping-address-icons.png) no-repeat 0 -54px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    display: inline-block;
}

.expedited_time li i.package_t {
    background-position: -45px -56px;
}

.expedited_time li i.receving_t {
    background-position: -110px -54px;
}

.expedited_time .tip_pay {
    color: #aaa;
    padding: 4px 8px;
    font-size: 12px;
    border: 1px solid #eee;
}

.expedited_time ul li.fengex {
    width: 1px;
    margin-right: 14px;
    height: 32px;
    background-color: #ccc;
}

.maui-row-main-wrap .ui2-box-wrap .items {
    position: relative;
}

.maui-row-main-wrap .ui2-box-wrap .items .btnTbuploader {
    font-size: 13px;
    line-height: 18px;
    *line-height: 14px;
    padding: 3px 15px;
    *padding: 2px 15px;
}

.list-search-filter .post-tip {
    margin-bottom: 12px;
    padding-top: 6px;
}

.upload_success {
    color: #999;
    line-height: 18px;
    border: 1px dashed #ddd;
    padding: 5px;
}

.upload_back {
    font-size: 16px;
    font-weight: 700;
    color: #27ae61;
    margin: 20px 0 10px;
}

.upload_back a:link, .upload_back a:visited, .upload_back a:active {
    color: #27ae61;
    text-decoration: none;
}

.upload_back a:hover {
    color: #219452;
    text-decoration: none;
}

.upload_info {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.tip_success {
    margin-left: 10px;
    color: #27ae61;
}

.goto_stack {
    margin-left: 10px;
    font-weight: bold;
}

.smt_process {
    width: 100%;
}

.smt_process_li {
    width: 45%;
    float: left;
    margin-right: 4%;
    margin-bottom: 5px;
    height: 40px;
}

.smt_process_help {
    width: 145px;
    float: left;
}

.smt_process_input {
    background-color: white;
    border: none;
    padding-left: 10px;
    padding-top: 6px;
    width: 150px;
    outline: none;
}

/*conf_body ul*/
.conf_body ul {
    padding: 0px;
    margin: 0px 20px;
    overflow: hidden;
    clear: both;
}

.font14_eng {
    width: 60px;
    padding: 0 8px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    border-bottom: 1px solid #999;
    line-height: 20px;
}

.unclickbtn {
    background: #f9f9f9;
}

.ui-advanced-img-new-icon {
    position: absolute;
    background: #090;
    display: inline-block;
    font-size: 11px;
    height: auto;
    line-height: 13px;
    margin-left: 3px;
    color: #fff;
    padding: 2px 3px 0 3px;
    top: -8px;
    right: -7px;
}

.ui-advanced-img-new-icon:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 4px transparent;
    left: 0;
    bottom: -3px;
    border-left-color: #090;
}


/*new advanced 72*/
.select-report-option i {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    background: url(../images/newpcbway/unselect.png) no-repeat;
    margin-right: 5px;
    margin-bottom: 3px;
}

.select-report-option li {
    float: left;
    min-width: 110px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #e7e7e7;
    margin-bottom: 10px;
    color: #888;
    cursor: pointer;
    padding: 0 8px;
    margin-right: 10px;
    background-color: #fff;
}

.select-report-option li.unclickbtn {
    background: #f9f9f9;
    border: 1px dashed #dfe6f0;
    cursor: not-allowed;
}

.select-report-option li.current {
    border: 2px solid #00c339;
    color: #000;
    line-height: 30px;
}

.select-report-option li.current i {
    background: url(../images/newpcbway/selected.png) no-repeat;
}

.select-report-option .hide {
    display: none;
}

.report-container * {
    box-sizing: border-box;
}

.production_detail_list {
    background-color: #f5f6f6;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
}

.production_detail_list dl {
    overflow: hidden;
    display: block;
    margin-bottom: 2px;
    line-height: 16px;
    font-size: 12px;
}

.production_detail_list dl dt {
    float: left;
    color: #999;
    width: 120px;
}

.production_detail_list dl dd {
    float: right;
    width: 150px;
    text-align: right;
    word-wrap: break-word;
    font-weight: 500;
}

.production_detail_list h4 {
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    line-height: 22px;
    color: #666;
}

.wrap-box-listpcb {
    margin-top: 4px;
    padding-top: 10px;
    border-top: 2px dotted #777;
}

.sc-hd-balloon-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    bottom: -5px;
    left: 5px;
    border-right: none;
    border-bottom: none;
}

.dlparrow1 {
    left: 19px;
}

.dlparrow2 {
    left: 35px;
}

.dlparrow3 {
    left: 51px;
}

.dlparrow4 {
    left: 66px;
}

.dlparrow5 {
    left: 82px;
}

.dlparrow6 {
    left: 98px;
}

.dlparrow7 {
    left: 114px;
}

.dlparrow8 {
    left: 130px;
}

.dlparrow9 {
    left: 146px;
}

.dlparrow11 {
    left: 163px;
}

.dlparrow12 {
    left: 179px;
}

.dlparrow13 {
    left: 195px;
}

.dlparrow14 {
    left: 211px;
}

.dlparrow15 {
    left: 227px;
}

.dlparrow16 {
    left: 244px;
}

.dlparrow17 {
    left: 260px;
}

.dlparrow18 {
    left: 276px;
}

.dlparrow19 {
    left: 293px;
}

.pcbway_link .text-container {
    position: relative;
}

.fswTabs, .fswTabs li {
    display: inline-block;
    line-height: 12px;
    font-size: 14px;
    color: #00a63f;
}

.fswTabs li {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    cursor: pointer;
    padding: 5px 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.fswTabs li.selected, .fswTabs li:hover {
    background: #e7e7e7;
    color: #000;
}

.fswTabs li .tabsCircle {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #9b9b9b;
}

.fswTabs li.selected .tabsCircle {
    border: 1px solid #000;
    background: #000;
}

.tabsCircle {
    display: inline-block;
}

.appendRight5 {
    margin-right: 5px;
}

.tabsCircle:after {
    content: "";
    display: block;
    width: 3px;
    height: 6px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 1px;
    margin-left: 3px;
}

.fswTabs li .tabsCircle {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #9b9b9b;
}

.fswTabs * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.production_detail_list .angle-updown {
    background: url(../images/newpcbway/icon-spr.png) no-repeat 5px -61px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.production_detail_list.active .angle-updown {
    background-position: 5px -96px;
}

.teshushuoming {
    color: #B59F38;
    font-size: 12px;
    margin: -4px 0 6px;
}

.shipment-field {
    position: relative;

    color: #858d90;
    cursor: pointer;
    text-align: left;
    *padding-bottom: 3px;
}

.shipment-now-radio {
    display: block;
    position: relative;
    height: 38px;
    line-height: 38px;
    color: #3c4a57;
    border: 1px solid #ddd;
    font-weight: 700;
    margin-bottom: 4px;
    background-color: #f1f4f4;
    cursor: pointer;
    z-index: 1;
}

.shipment-field .shipment-now-radio.selected {
    border-radius: 2px;
    border: 1px solid #00c339;
    background-color: #edfddf;

}

.shipment-field .shipment-now-radio.selected i {
    background-image: url(../images/newpcbway/icon-spr.png);
    background-position: -20px -388px;
    background-repeat: no-repeat;
    bottom: 0;
    display: block;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -99em;
    width: 12px;
}

.money-shipment {
    color: #1bb380;
}

.shipment-field .shipment-now-radio .radio-icon {
    background-image: url(../images/radio-icon.png);
    width: 22px;
    height: 22px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
}

.shipment-field .shipment-now-radio.selected .radio-icon {
    background-image: url(../images/radio-icon-che.png);
    width: 22px;
    height: 22px;
}

.type-shipment-option {
    padding-left: 40px;
    min-width: 120px;
}

.diamond_shipment {
    background: url(../images/newpcbway/diamond32.png) no-repeat right 10px center;
    margin-bottom: 0 !important;
}

.spec-shipment-warp {
}

.select-report {
    background-color: #f5f6f6;
    padding: 10px 0 10px;
    margin-bottom: 10px
}

.color66 {
    color: #666
}

.youpin_container .select-report-option li {
    letter-spacing: -0.6px;
    margin: 0 0 8px 10px;
}

.youpin_container .options-titl {
    padding: 0 10px 5px;
}